{%extends "../base/base.html"%}
{%block title%}Profile{% endblock %}
{%block content%}
{% include "../base/nav-main.html"%}
<div class="container">
    <selection class="jumbotron text-center bg-white">
        <div class="container">
        <h1>User Dashboard</h1>
        <p class="lead text-muted">
            Something short about the creator,
            etc.Make it short and sweet
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Logout</a>
        </p>
        </div>
    </selection>

</div>
{%endblock%}
{% include "../base/footer.html"%}